<div
	class="modal fade text-black"
	id="deleteComment"
	tabindex="-1"
	aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Are you sure?</h5>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body">
				<p>
					Do you really want to delete this comment? This process
					cannot be undone.
				</p>
				<div class="form-group">
					<form
						id="formDeleteComment"
						action="/comments/<%= post[0].post_id %>/<%= comments[i].comment_id %>/delete"
						method="POST"
					></form>
				</div>
			</div>
			<div class="modal-footer">
				<button
					type="submit"
					form="formDeleteComment"
					class="btn btn-danger"
				>
					Delete
				</button>
				<button
					type="button"
					class="btn btn-primary"
					data-bs-dismiss="modal"
				>
					Cancel
				</button>
			</div>
		</div>
	</div>
</div>
