<h1 class="mt-5">Home</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>

<%- include ("partials/messages") %>

<!-- Button trigger modal -->
<button
	type="button"
	class="btn btn-primary"
	data-bs-toggle="modal"
	data-bs-target="#composePost"
>
	Post
</button>

<!-- 
	$("#composePost").on("loaded.bs.modal", function (e) {
		if (typeof history.pushState != "undefined") {
			let obj = { Title: "Compose", Url: "compose/post" };
			history.pushState(obj, obj.Title, obj.Url);
		}
	});
 -->

<!-- Modal -->
<%- include ("compose/post") %>

<a href="/users/logout" class="btn btn-secondary">Logout</a>

<script>
	const textAreaElement = document.querySelector("#floatingTextarea2");
	console.log(textAreaElement);

	const characterCounterElement =
		document.querySelector("#character-counter");

	const typedCharactersElement = document.querySelector("#typed-characters");

	const maximumCharacters = 280;

	textAreaElement.addEventListener("keydown", (event) => {
		const typedCharacters = textAreaElement.value.length;

		typedCharactersElement.textContent = typedCharacters;

		if (typedCharacters >= 220 && typedCharacters <= 280) {
			characterCounterElement.classList = "text-warning";
			document.getElementById("postButton").disabled = false;
		} else if (typedCharacters > 280) {
			characterCounterElement.classList = "text-danger";
			document.getElementById("postButton").disabled = true;
			// document.getElementById("postButtonSpan").title =
			// 	"at most 280 characters";
		}
	});
</script>
