<h1 class="mt-5">Home</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>

<!-- Button trigger modal -->
<button
	type="button"
	href="/compose/post"
	class="btn btn-primary"
	data-bs-toggle="modal"
	data-bs-target="#composePost"
>
	Post
</button>

<!-- Modal -->
<%- include ("post") %>

<a href="/users/logout" class="btn btn-secondary">Logout</a>
