<div
	class="modal fade"
	id="composePost"
	tabindex="-1"
	aria-labelledby="exampleModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Compose</h5>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="exampleTextarea" class="form-label"></label>

					<form id="formPost" action="/compose/post" method="POST">
						<div class="form-group form-floating">
							<textarea
								class="form-control required"
								placeholder="Type here ..."
								id="floatingTextarea2"
								name="post_Text"
								style="height: 100px"
							></textarea>
							<label for="floatingTextarea2">Post</label>
							<div id="character-counter">
								<span id="typed-characters">0</span>
								<span>/</span>
								<span id="maximum-characters">280</span>
							</div>
						</div>
						<!-- <div class="mb-3">
							<label for="formFileSingle" class="form-label">
								Add image (optional)
							</label>
							<input
								class="form-control"
								type="file"
								id="formFileSingle"
								name="image"
							/>
						</div> -->
						<fieldset class="form-group">
							<!-- <legend class="mt-4">Switches</legend> -->
							<div class="form-check form-switch">
								<input
									class="form-check-input"
									type="checkbox"
									id="flexSwitchCheckDefault"
									name="possibly_sensitive"
								/>
								<label
									class="form-check-label"
									for="flexSwitchCheckDefault"
									>Sensitive content</label
								>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button
					type="submit"
					id="postButton"
					form="formPost"
					class="btn btn-primary"
				>
					Post
				</button>
				<button
					type="button"
					class="btn btn-secondary"
					data-bs-dismiss="modal"
				>
					Discard
				</button>
			</div>
		</div>
	</div>
</div>
